.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.RegisterPage {
  text-align: center;
  width: 400px;
}

.login-title {
  font-size: 35px;
  margin-bottom: 10px;
}

.InputBox {
  width: 300px;
  height: 35px;
  font-size: 16px;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: left;
}

.Btn {
  width: 300px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.ErrorMessage {
  margin-top: 10px;
  color: red;
}
